{% extends 'base.html' %}
{% load static %}
{% block metatags %}
  <meta name="description" content="Paintball Kerry. Home to the best paintball site in Ireland! Experience action packed fun from beginning to end!">
{% endblock %}
{% block content %}

<!-- Landing page section with a cta to the booking enquiry -->
<main>
  <section class="hero-section">
      <div class="text-container hero-text-container">
          <h1 class="heading m-0">PAINTBALL KERRY <span class="fs-6 text-white m-0 p-0 body-text">private members club</span></h1>
              <h3 class="sub-heading">The Original & Best Paintball in Ireland</h3>
              <p>Paintball Kerry - Private Members Club - Is situated in Tralee, Kerry on 27 Acres including 20 acres of mature woodland
                  and a 7 acre competition site. The paintball area consists of rugged terrain with trees, trails,
                  hills, streams, bunkers, six bridges, a base camp, a village, a fort, a church with a sniper steeple,
                  the Radio Hut on an Island and two 20ft bridges. Dotted around you will encounter Army Jeeps, Army Trucks and a
                  fully operational tracked Army Tank. At Paintball Kerry we've got The Works! Check out our  <a class="gallery-link" href="{% url 'gallery' %}">Gallery</a></p>
          <a href="{% url 'contact' %}" class="btn">Make Booking Enquiry</a>
      </div>
      <div class="text-container price-list-cta">
          <h3>CHECK OUT OUR PRICELIST</h3>
          <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn">HERE</button>
      </div>
  </section>

  <!-- Show all the packages that are available-->

  <section class="our-packages" id="our-packages">
      <div class="our-packages-heading-div">
          <h2 class="our-packages-heading">
              Our Packages
          </h2>
      </div>
      <div class="our-packages-container">
          {% for package in packages %}
              <div class="text-container package-card faded">
                  <img src="{{ MEDIA_URL }}{{ package.img }}" alt="">
                  <h3>{{ package.title }}</h3>
                  <p>{{ package.synopsis }}</p>
                  <a class="btn" href="{% url 'package_detail' package.pk %}">Package Details</a>
              </div>
          {% endfor %}
      </div>
  </section>
</main>

<!-- Modal for pricelist taken from Bootstrap 5 -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">PRICELIST</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          {% for package in packages %}
          <li>
            {{ package.title }}  -   <strong>€{{package.price }}</strong>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}