{% extends 'base.html' %}
{% block content %}
<section class="hero-section">
    <div class="text-container hero-text-container">
        <h1 class="heading">Paintball Kerry</h1>
            <h3 class="sub-heading">The Original and Best in the Southwest</h3>
            <p>Situated in Tralee, County Kerry on 27 Acres including 20 acres of mature woodland
                and a 7 acre competition site. The paintball area consists of rugged terrain with trees, trails,
                hills, streams, bunkers, six bridges, a base camp, a village, a fort, a church with a sniper steeple,
                the Radio Hut on an Island and two 20ft bridges. Dotted around you will encounter Army Jeeps, Army Trucks and a
                fully operational tracked Army Tank. At Paintball Kerry we've got The Works! Check out our Gallery.</p>
        <button class="btn">Book Now</button>
    </div>
</section>
<section class="our-packages">
    <div class="our-packages-heading-div">
        <h2 class="our-packages-heading">
            Our Packages
        </h2>
    </div>
    <div class="our-packages-container">
        {% for package in packages %}
            <div class="text-container package-card">
                <img src="{{ MEDIA_URL }}{{ package.img }}" alt="">
                <h3>{{ package.title }}</h3>
                <p>{{ package.synopsis }}</p>
                <a class="btn" href="#">More Info</a>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}