{% extends 'base.html' %}
{% load static %}
{% block metatags %}
<meta name="description"
  content="Paintball Kerry. This page has all the information you need to play a game with us from our downloadable consent forms to a map of our location.">
{% endblock %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/info.css' %}" />
{% endblock %}
{% block content %}

<main class="main-info">
  <div class="info-header">
    <h2 class="logo">INFO</h2>
  </div>
  <section class="location">
    <div class="big-map-container">
      <h3>OUR LOCATION</h3>
      <div id="big-map" class="big-map"></div>
    </div>
    <div class="text-container directions">
      <h3>DIRECTIONS</h3>
      <h4>Directions from Cork/Killarney via N22.</h4>
      <p>
        As you approach Tralee turn right at new Roundabout, straight thru
        Ballingarry roundabout heading for Listowel, drive 2 miles. Next
        roundabout exit left fr Tralee Tech Park Next roundabout turn right -
        this is the Listowel road. Drive 1/4 mile you will see couple of
        warehouses on your right. At Boyle Patio & stove centre turn right,
        Alderwood Road. Drive 1 mile, entrance on left drive up through trees.
      </p>
      <h4>Directions from Limerick via N21</h4>
      <p>
        Come through Abbeyfeale, before Castleisland take exit for Tralee, right
        again at the roundabout for Tralee, drive 7 miles then approaching
        Tralee, with Ballingarry Hotel on your left, take 3rd exit for Listowel.
        Drive 2 miles. Next roundabout exit left fr Tralee Tech Park Next
        roundabout turn right - this is the Listowel road. Drive 1/4 mile you
        will see couple of warehouses on your right. Boyle Patio & stove center
        turn right, Alderwood Road. Drive 1 mile, entrance on left drive up thru
        trees.
      </p>
    </div>
  </section>
  <section class="important-info">
    <div class="info-header">
        <h2 class="logo">Important Info before playing</h2>
    </div>
    <div class="text-container info-questions">
        <p><strong>What should you wear?</strong></p>
        <p>Come wearing old boots, old clothes and strong shoes, even a pair of football boots can be used 
            as the ground can be slippery at times. A beanie hat is also recommended. We suggest bringing a 
            fresh change of clothes, especially socks as it can get quiet wet at times and also a spare bag
            for you mucky boots.All the safety equipment is provided by us.
        </p>
        <p><strong>Do we need to pay in advance?</strong></p>
        <p>A deposit is required to book guns, as we only have so many guns we do not want to disapoint other 
            players unecessarily if someone is a no show. Deposits will be refunded once the group shows up.
            Deposits are non refundable but can be used again with 3 weeks notice given. To pay a deposit 
            simply use revolut to @annaodpti
        </p>
        <p><strong>Is there a card facility on site?</strong></p>
        <p>Unfortunately as we are in the middle of the woods it is not a possibility at the moment, so we advise our
            players to have cash before they come to the site.
        </p>
        <p><strong>Where can I download the forms? </strong></p>
        <p>Here are the download links for the forms</p>
        <a class="nav-link" target="_blank" href="https://res.cloudinary.com/dyg53cwvw/image/upload/v1667137085/docs/teenager-consent.pdf">Teenager Consent Form </a>
        <a class="nav-link" target="_blank" href="https://res.cloudinary.com/dyg53cwvw/image/upload/v1667137106/docs/splatball-consent.pdf">Splatball Consent Form </a>
    </div>
    <div class="text-container contact-info">
        <h3>Contact Information</h3>
        <p><strong>If you have any further enquries or would like to book a game 
            feel free to contact us by any means outlined below. We look forward to hearing from you.
        </strong></p>
        <p><strong></strong><i class="fas fa-map-marked"></i> OUR ADDRESS: </strong></p>
        <span>Paintball Kerry, 
            Alderwood Road, 
            Lismore, Tralee, 
            Co. Kerry
        </span>
        <hr>
        <p><strong><i class="fas fa-map-pin"></i> Our eircode: </strong></p>
        <p>V92 RX72</p>
        <hr>
        <p><strong><i class="fas fa-phone-alt"></i> Our Phone Number</strong></p>
        <a class="nav-link" href="tel:+353872854277">0872854277</a>
        <p><strong><i class="fas fa-map-marked"></i> Our Email</strong></p>
        <a target="_blank" class="nav-link" href="mailto:paintballkerry@gmail.com">paintballkerry@gmail.com</a>
    </div>
  </section>
</main>

{% endblock %}
{% block postloadjs %}
  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
    integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
  <script src="{% static 'js/info.js' %}"></script>
{% endblock %}
