{% extends 'base.html' %}
{% load static %}
{% block extraccs %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}
{% block content %}
<main class="main-gallery">
    <div class="gallery-header shrink">
      <h2 class="logo">OUR GALLERY</h2>
    </div>
    <section class="gallery-grid">
        {% for image in object_list %}
        <figure class="faded gallery-item gallery-item-{{ forloop.counter }}">
            <img title="{{ image.title }}" class="gallery-img" src="{{ MEDIA_URL }}{{ image.image }}" alt="{{ image.title }}">
        </figure>
        {% endfor %}
    </section>

</main>
{% endblock %}
{% block postloadjs %}
<script src="{% static 'js/gallery.js' %}"></script>
{% endblock %}