.main-contact {
    padding: 7rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
    
}

.contact-header {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.43461134453781514) 0%, rgba(0,0,0,1) 25%, rgba(0,1,1,1) 75%, rgba(0,1,1,0.47942927170868344) 100%);
    width: 100%;
    padding: 1rem
}

.contact-header > * {
    color: white;
    text-align: center;
}

.booking-form {
    width: 50%;
}

.booking-form > form {
    width: 100%;
}

@media (max-width: 800px) {
    .booking-form {
        width: 100%;
    }
}