<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Block Meta Tags -->
    {% block metatags %}
    {% endblock %}
    <meta name="author" content="Ger Tobin">
    <meta property="og:title" content="Paintball Kerry | Paintball games for all ages, birthday parties stag and hen parties">
    <meta property="og:description" content="Paintball Kerry | The ultimate paintball experience | Based just outside Tralee, very close to Killarney and Dingle | We run games for 8 year olds up stag parties and beyond">
    <meta property="og:url" content="https://paintballkerry.com/">
    <meta property="og:image" content="{% static 'favicons/favicon-16x16.png' %}">
    <meta name="description" content="Paintball Kerry | The ultimate paintball experience | Based just outside Tralee, very close to Killarney and Dingle | We run games for 8 year olds up stag parties and beyond">
    <!-- Bootstrp CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- Leaflet CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
      integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
      crossorigin=""
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Extra App CSS -->
    {% block extracss %}
    {% endblock %}
    <title>Paintball Kerry | Tralee, Killarney & Dingle</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
  </head>
  <body>
    {% if messages %}
    <div class="message-container">
      <div class="alert alert-success">
        {% for m in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</li>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand text-center" href="{% url 'home' %}"
            ><h1 class="logo m-0">PAINTBALL<span> KERRY</span></h1>
            <p class="p-0 text-white m-0">private members club</p></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <p class="burger-icon"></p>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'packages' %}">Packages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'info' %}">Info</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Forms</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li>
                    <a class="dropdown-item" target="_blank" href="https://res.cloudinary.com/dyg53cwvw/image/upload/v1697479152/docs/teen_parents_consent_2023_updated_teen_bg1jfp.pdf">Teenager Consent Form </a>
                  </li>
                  <li>
                    <a class="dropdown-item" target="_blank" href="https://res.cloudinary.com/dyg53cwvw/image/upload/v1694373866/docs/splatball-consent-form_jlbqnu.pdf">Splatball Consent Form </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
      <div class="footer-contact">
        <h5>PAINTBALL KERRY</h5>
        <p>Alderwood Rd,</p>
        <p>Lismore, Tralee, Kerry</p>
        <p>Tel: 0872854277</p>
        <p>Int: +353872854277</p>
        <p><a target="_blank" href="mailto:paintballkerry@gmail.com">paintballkerry@gmail.com</a></p>
      </div>
      <div class="who-we-are">
        <h5>ABOUT US</h5>
        <p>We are Paintball Kerry. The longest running paintball site in Ireland. We were formerly Predator Paintball,
          but now we operate as a private members club, but offer the same great experience that has made us the first
          name in peoples minds when they think of paintball in Ireland. We thank you for checking out our website,
          and we hope to see you at our site real soon.</p>
      </div>
      <div class="footer-nav">
        <h5>SITE NAV</h5>
        <nav>
          <ul class="nav-list">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'packages' %}">Packages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'info' %}">Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <!-- FontAwesome -->
    <script
      src="https://kit.fontawesome.com/f0ca44b893.js"
      crossorigin="anonymous"
    ></script>
    <!-- Custom JS -->
    {% block postloadjs %} {% endblock %}
    <script defer src="{% static 'js/base.js' %}"></script>
    
  </body>
</html>
