.main-info {
    margin: 7rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
    
}

.info-header {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.43461134453781514) 0%, rgba(0,0,0,1) 25%, rgba(0,1,1,1) 75%, rgba(0,1,1,0.47942927170868344) 100%);
    width: 100%;
    padding: 1rem
}

.info-header > h2 {
    text-align: center;
    color: white;
}